.rw1 {
  height: 50vh;
  div {
    width: 45%;
  }
}

#click,
#click2 {
  cursor: pointer;
  &:hover {
    scale: 0.9;
  }
}

.img-cont {
  width: 100%;
  height: 100%;
  text-align: center;
}

img {
  width: 50%;
  height: 80%;
}

.box {
  max-width: 400px;
  height: 350px;
  transform: translateZ(1000px) scale(0);
  transform-style: preserve-3d;
  animation: stick 0.5s ease-out both;
  box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.5);
  &:hover {
    scale: 1.1;
  }
}

.box-log {
  background-image: url("../../../assets/biglietto.webp");
  background-size: cover;
}

.box-sign {
  background-image: url("../../../assets/botteghino.webp");
  background-size: cover;
}

@keyframes stick {
  0% {
    transform: translateZ(1000px) scale(0) rotateY(360deg);
  }
  100% {
    transform: translateZ(0) scale(1) rotateY(0deg);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromLeft 1.5s ease-out;
}
