<div class="d-flex justify-content-around footer-cont bg-dark">
  <div class="text-center">
    <a routerLink="">
      <p *ngIf="!isLogIn">welcome</p>
      <p *ngIf="isLogIn"></p>
    </a>
  </div>
  <div class="text-center">
    <a routerLink="/home">
      <p *ngIf="!isLogIn"></p>
      <p *ngIf="isLogIn">Home</p>
    </a>
  </div>
  <div class="text-center">
    <a routerLink="user-detail">
      <p *ngIf="!isLogIn"></p>
      <p *ngIf="isLogIn">User Detail</p>
    </a>
  </div>
  <div class="text-center">
    <a routerLink="favorites">
      <p *ngIf="!isLogIn"></p>
      <p *ngIf="isLogIn">Favoutires</p>
    </a>
  </div>
  <div class="text-center pb-3">
    <a href="https://github.com/andreaDevelope?tab=repositories" target="_blank"
      >andreaDevelope</a
    >
  </div>
</div>
