.cont {
  background: linear-gradient(to top, #ff7e5f, #feb47b);
}

a {
  text-decoration: none;
  color: lightcyan;
  &:hover {
    scale: 1.1;
  }
}

#span {
  text-decoration: none;
  color: lightcyan;
  cursor: pointer;
}

img {
  height: 40px;
  &:hover {
    scale: 1.1;
  }
}

.custom-b {
  font-size: 0.8rem;
  border-radius: 5rem;
}
