<div class="container" *ngIf="favArr.length > 0">
  <h1 class="text-center slide-in my-5 text-danger">I TUOI PREFERITI</h1>
  <div class="row">
    <div class="col-6 col-md-3 my-3" *ngFor="let fav of favArr">
      <div class="card box">
        <img src="{{ fav.img }}" class="card-img-top" alt="img-movie" />
        <div class="card-body">
          <h5 class="card-title">{{ fav.titolo }}</h5>
          <h5 class="card-title">by {{ fav.regista }}</h5>

          <p class="card-text">
            {{ fav.anno }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
