<h1
  class="text-center slide-in w-50 mx-auto my-5 text-white bg-danger rounded-5"
>
  I TUOI PREFERITI
</h1>
<div class="d-flex justify-content-around" *ngIf="favArr.length > 0">
  <div class="card box" *ngFor="let fav of favArr">
    <img src="{{ fav.img }}" class="card-img-top" alt="img-movie" />
    <div class="card-body">
      <h5 class="card-title">{{ fav.titolo }}</h5>
      <h5 class="card-title">by {{ fav.regista }}</h5>

      <p class="card-text">
        {{ fav.anno }}
      </p>
      <button (click)="remove(fav.id)" class="btn btn-danger mt-4">
        DELETE
      </button>
    </div>
  </div>
</div>
