<div *ngIf="user" class="constainer-detail">
  <div class="d-flex justify-content-center">
    <h1 class="text-center mt-5 text-bg-danger px-3 slide-in py-1 rounded-5">
      area privata di
      {{ user.username }}
    </h1>
  </div>
  <div
    class="d-flex flex-column flex-lg-row justify-content-center my-5 justify-content-around text-white"
  >
    <div
      class="d-flex flex-column align-items-center"
      *ngIf="favArr.length > 0"
    >
      <button class="btn btn-warning my-3" (click)="toggleFav()">
        i tuoi preferiti
      </button>
      <div class="container">
        <table
          *ngIf="isFavVisible"
          class="table table-dark table-striped slide-in"
        >
          <thead>
            <tr>
              <th scope="col">Titolo</th>
              <th scope="col">Regista</th>
              <th scope="col">Anno</th>
              <th scope="col">Copertina</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fav of favArr">
              <td>{{ fav.titolo }}</td>
              <td>{{ fav.regista }}</td>
              <td>{{ fav.anno }}</td>
              <td>
                <img
                  src="{{ fav.img }}"
                  alt="img-movie"
                  class="img-thumbnail"
                  style="width: 100px; height: auto"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <button class="btn btn-warning my-3" (click)="toggleDetail()">
        i tuoi dati
      </button>
      <div class="container">
        <div class="row justify-content-center ps-3">
          <div
            class="col-12 col-md-6 py-3 bg-dark details slide-in"
            *ngIf="isDetailVisible"
          >
            <p class="border border-danger rounded-4 p-3">
              nome: {{ user.nome }}
            </p>
            <p class="border border-danger rounded-4 p-3">
              cognome: {{ user.cognome }}
            </p>
            <p class="border border-danger rounded-4 p-3">
              email: {{ user.email }}
            </p>
            <p class="border border-danger rounded-4 p-3">
              username: {{ user.username }}
            </p>
            <button
              (click)="isShureToggle()"
              *ngIf="!isShure"
              class="btn btn-danger p-1"
            >
              elimina account
            </button>
            <div *ngIf="isShure" class="d-flex flex-column">
              <p class="border border-danger rounded-4 p-3">
                sei sicuro di voler procedere perderai tutti i tuoi dati e non
                avrai più accesso alla nostra collezione film
              </p>
              <button (click)="remove(user.id)" class="btn btn-danger my-2">
                voglio procedere
              </button>
              <button (click)="isShureToggle()" class="btn btn-success">
                annulla
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
