<div class="hero text-danger">
  <h1
    *ngIf="user.nome"
    class="text-center mt-0 mb-2 slide-in slide-in-active text-white bg-danger rounded-5 w-50 mx-auto py-2"
  >
    Benvenuto {{ user.username }}
  </h1>
</div>

<button
  class="btn btn-lg btn-outline-primary text-white"
  (click)="openOffcanvas()"
>
  iscritti
</button>

<div class="container" *ngIf="movieArr">
  <div class="row">
    <p *ngIf="isAdded" class="text-center text-success my-2 rounded-3 bg-dark">
      aggiunto con successo
    </p>
    <div class="col-12 col-md-6 col-lg-3 my-3" *ngFor="let movie of movieArr">
      <div class="card box">
        <img src="{{ movie.img }}" class="card-img-top" alt="img-movie" />
        <div class="card-body">
          <h5 class="card-title">{{ movie.titolo }}</h5>
          <h5 class="card-title">by {{ movie.regista }}</h5>

          <p class="card-text">
            {{ movie.anno }}
          </p>
          <button (click)="addFavorite(movie)" class="btn btn-primary">
            LIKE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
